[INPUT]
  Name            tail
  tag             logs 
  Path            /var/log/syslog, /var/log/frr/frr.log, /var/log/trivy/trivy.json
  Buffer_Max_Size 2M

[INPUT]
  name            node_exporter_metrics
  tag             node_metrics
  scrape_interval 5

[OUTPUT]
  Name http
  Match logs
  URI /api/theophilus_organization_3270_OdMjjaUJw5nt7C9/default/_json
  Host api.openobserve.ai
  Port 443
  tls On
  Format json
  Json_date_key    _timestamp
  Json_date_format iso8601
  HTTP_User {{ openobserve_user }}
  HTTP_Passwd {{ openobserve_pass }}
  compress gzip

[OUTPUT]
  Name                 prometheus_remote_write
  Match                node_metrics
  Host                 api.openobserve.ai
  Port                 443
  Uri                  /api/theophilus_organization_3270_OdMjjaUJw5nt7C9/prometheus/api/v1/write
  Log_response_payload True
  Tls                  On
  Tls.verify           On
  HTTP_User {{ openobserve_user }}
  HTTP_Passwd {{ openobserve_pass }}