global_defs {
    dynamic_interfaces
}

vrrp_instance VI_1 {
    state BACKUP
    interface {{ ansible_zt1.device }}
    virtual_router_id 50
    priority 50
    advert_int 5
    virtual_ipaddress {
        10.30.9.3/24
    }

    notify_master "/usr/bin/systemctl start frr.service"
    notify_backup "/usr/bin/systemctl stop frr.service"
}