frr defaults datacenter
log syslog informational
service integrated-vtysh-config
!
router bgp {{ ansible_env.ASN }}
 bgp router-id {{ ansible_env.OVERLAY_IP }}
 bgp log-neighbor-changes
 bgp graceful-restart
 {% for host in groups['route_controllers'] %}
 neighbor {{ hostvars[host]['ansible_env']['OVERLAY_IP'] }} remote-as {{ ansible_env.ASN }}
 {% endfor %}
 !
 address-family ipv4 unicast
  network {{ ansible_env.INGRESS_NETWORK }}
  {% for host in groups['route_controllers'] %}
  neighbor {{ hostvars[host]['ansible_env']['OVERLAY_IP'] }} activate
  neighbor {{ hostvars[host]['ansible_env']['OVERLAY_IP'] }} soft-reconfiguration inbound
  {% endfor %}
 exit-address-family
!
line vty
!