vrrp_script chk_nginx {
    script "pgrep nginx"
    interval 5
    fall 2
    timeout 10
}

vrrp_instance VI_1 {
    state BACKUP
    interface {{ keepalived_interface | default('zt1') }}
    virtual_router_id {{ keepalived_routerid | default('50') }}
    priority {{ keepalived_priority | default('50') }}
    advert_int 5
    virtual_ipaddress {
        {{ ansible_env.INGRESS_VIP }}/{{ ansible_env.INGRESS_NETWORK | ansible.utils.ipaddr('prefix') }}
    }
    track_script {
        chk_ngginx
    }
}