---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/source.toolkit.fluxcd.io/gitrepository_v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: GitRepository
metadata:
  name: gateway-api
  namespace: kube-system
spec:
  interval: 15m
  ref:
    tag: v1.4.1
  url: https://github.com/kubernetes-sigs/gateway-api
