---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: gateway-api
  namespace: kube-system
spec:
  interval: 1h
  path: ./gateway-api/config/crd/standard
  prune: true
  sourceRef:
    kind: GitRepository
    name: gateway-api
    namespace: kube-system
