network:
  version: 2
  bridges:
    br8:
      interfaces: [vxlan8]
      macaddress: aa:84:a5:b6:2e:44
      parameters:
        stp: false
      addresses:
        - 10.30.8.1/24
    br9:
      interfaces: [vxlan9]
      macaddress: 22:fa:45:8f:2b:2e
      parameters:
        stp: false
      addresses:
        - 10.30.9.1/24
  tunnels:
    vxlan8:
      mode: vxlan
      id: 8
      mac-learning: false
      port: 4789
      local: {{ inventory_hostname }}
    vxlan9:
      mode: vxlan
      id: 9
      mac-learning: false
      port: 4789
      local: {{ inventory_hostname }}