{% if inventory_hostname == groups['k8s_hosts'][0] %}
cluster-init: true
{% else %}
server: https://{{ groups['k8s_hosts'][0] }}:9345
{% endif %}
token: "Overpay-Traffic2-Depose"
disable:
  - rke2-ingress-nginx
disable-cloud-controller: true
disable-kube-proxy: true
cni: cilium
secrets-encryption: true
tls-san:
  - {{ ansible_env.VIP }}
  - k8s-home.paradisenetworkz.com
{% for host in groups['k8s_hosts'] %}
  - {{ hostvars[host]['ansible_fqdn'] }}
{% endfor %}