frr defaults datacenter
log syslog informational
service integrated-vtysh-config
!
router bgp {{ ansible_env.ASN }}
 bgp router-id {{ ansible_env.OVERLAY_IP }}
 bgp log-neighbor-changes
 bgp graceful-restart
{% for ip in (ansible_env.ROUTE_CONTROLLERS | split(',')) %}
 neighbor {{ ip }} remote-as {{ ansible_env.ASN }}
{% endfor %}
 !
 address-family ipv4 unicast
{% for ip in (ansible_env.ROUTE_CONTROLLERS | split(',')) %}
  neighbor {{ ip }} activate
  neighbor {{ ip }} soft-reconfiguration inbound
{% endfor %}
 exit-address-family
!
line vty
!