---
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: spegel
  namespace: spegel
spec:
  interval: 10m
  ref:
    tag: 0.4.0
  url: oci://ghcr.io/spegel-org/helm-charts/spegel
