**/.terraform/

*.tfstate
*.tfstate.*

*.tfvars
*.tfvars.json

override.tf
override.tf.json
*_override.tf
*_override.tf.json

.terraformrc
terraform.rc

.terraform.lock.hcl

.vscode

**/ansible/inventory
**/ansible/roles/UBUNTU22-CIS
**.pem

config.yml