**/.terraform/

*.tfstate
*.tfstate.*

*.tfvars
*.tfvars.json

*.tfbackend

override.tf
override.tf.json
*_override.tf
*_override.tf.json

.terraformrc
terraform.rc
.terraform.lock.hcl

.vscode
.DS_Store

!**/.gitkeep