---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/source.toolkit.fluxcd.io/ocirepository_v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: external-secrets
  namespace: security
spec:
  interval: 15m
  url: oci://ghcr.io/external-secrets/charts/external-secrets
  ref:
    tag: 1.2.1
