$ORIGIN paradisenetworkz.com.
$TTL 3600      ; 1 hour
@                                               IN  SOA     {{ ansible_hostname }}.paradisenetworkz.com. theo.paradisenetworkz.com. (
                                                                1          ; serial
                                                                604800     ; refresh (1 week)
                                                                86400      ; retry (1 day)
                                                                2419200    ; expire (4 weeks)
                                                                604800     ; minimum (1 week)
                                                            )

                                                IN  NS      dns-server-1.paradisenetworkz.com.
                                                IN  NS      dns-server-2.paradisenetworkz.com.
dns-server-1                                    IN  A       10.30.0.1
dns-server-2                                    IN  A       10.30.0.2
ingress-1                                       IN  A       10.30.0.3
ingress-2                                       IN  A       10.30.0.4
