frr defaults datacenter
log syslog informational
service integrated-vtysh-config
!
router bgp {{ ansible_env.ASN }}
 bgp router-id {{ ansible_env.OVERLAY_IP }}
 bgp log-neighbor-changes
 bgp graceful-restart
 neighbor mesh peer-group
 neighbor mesh remote-as {{ ansible_env.ASN }}
 bgp listen range {{ ansible_env.OVERLAY_NETWORK }} peer-group mesh
 !
 address-family ipv4 unicast
  neighbor mesh activate
  neighbor mesh route-reflector-client
  neighbor mesh soft-reconfiguration inbound
  neighbor mesh route-map ALLOWED in
 exit-address-family
!
access-list ALLOWED permit {{ ansible_env.AGGREGATE_NETWORK }}
!
route-map ALLOWED permit 10
 match ip address ALLOWED
!
line vty
!