frr defaults datacenter
log syslog informational
service integrated-vtysh-config
!
router bgp {{ asn }}
 bgp router-id {{ ansible_zt0.ipv4.address }}
 bgp log-neighbor-changes
 bgp graceful-restart
{% for host in groups['route_controllers'] %}
 neighbor {{ hostvars[host]['ansible_zt0']['ipv4']['address'] }} remote-as {{ asn }}
{% endfor %}
 !
 address-family ipv4 unicast
  network {{ (ansible_zt1.ipv4.address + '/' + ansible_zt1.ipv4.netmask) | ansible.utils.ipaddr('network/prefix') }}
{% for host in groups['route_controllers'] %}
  neighbor {{ hostvars[host]['ansible_zt0']['ipv4']['address'] }} activate
  neighbor {{ hostvars[host]['ansible_zt0']['ipv4']['address'] }} soft-reconfiguration inbound
{% endfor %}
 exit-address-family
!
line vty
!