---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/source.toolkit.fluxcd.io/ocirepository_v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: snapshot-controller
  namespace: storage-system
spec:
  interval: 15m
  ref:
    tag: 5.0.2
  url: oci://ghcr.io/piraeusdatastore/helm-charts/snapshot-controller
