---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/source.toolkit.fluxcd.io/ocirepository_v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: volsync
  namespace: volsync-system
spec:
  interval: 15m
  ref:
    tag: 0.18.2
  url: oci://ghcr.io/home-operations/charts-mirror/volsync-perfectra1n
