---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: security-system
resources:
  - ./namespace.yaml
  - ./external-secrets/ks.yaml
  - ./dex/ks.yaml
  - ./tuppr/ks.yaml
