---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: tofu-controller
  namespace: flux-system
spec:
  chart:
    spec:
      chart: tofu-controller
      version: 0.16.1
      sourceRef:
        kind: HelmRepository
        name: tofu-controller
  interval: 1h
  values:
    replicaCount: 3
    metrics:
      enabled: true
      serviceMonitor:
        enabled: true
