frr defaults datacenter
log syslog informational
service integrated-vtysh-config
!
ip route {{ clusterCIDR }} cilium_host
ip route {{ serviceCIDR }} cilium_host
!
router bgp 212364
 bgp router-id {{ k8s_ip }}
 bgp log-neighbor-changes
 bgp graceful-restart
 neighbor 10.30.16.1 remote-as 212364
 neighbor 10.30.16.2 remote-as 212364
 !
 address-family ipv4 unicast
  neighbor 10.30.16.1 activate
  neighbor 10.30.16.1 soft-reconfiguration inbound
  neighbor 10.30.16.1 route-map EXPORT out
  neighbor 10.30.16.2 activate
  neighbor 10.30.16.2 soft-reconfiguration inbound
  neighbor 10.30.16.2 route-map EXPORT out
  redistribute static
 exit-address-family
 !
route-map EXPORT permit 1
 match interface cilium_host
!
line vty
!