---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: reloader
  namespace: kube-system
spec:
  chartRef:
    kind: OCIRepository
    name: reloader
  interval: 1h
  values:
    reloader:
      enableHA: true
      deployment:
        replicas: 3
      readOnlyRootFileSystem: true
