{% if inventory_hostname == groups[group][0] %}
cluster-init: true
{% else %}
server: https://{{ rke2_init_server }}:9345
{% endif %}
bind-address: {{ hostvars[inventory_hostname]['ansible_' + interface]['ipv4']['address'] }}
node-ip: {{ hostvars[inventory_hostname]['ansible_' + interface]['ipv4']['address'] }}
token: {{ rke2_token }}
write-kubeconfig-mode: "0644"
profile: cis-1.23
cni: cilium
disable:
  - rke2-ingress-nginx
disable-cloud-controller: true
disable-kube-proxy: true
secrets-encryption: true
tls-san:
  - {{ k8s_vip | ansible.utils.ipv4('address') }}
  - {{ k8s_vip_domain }}