frr defaults datacenter
log syslog informational
service integrated-vtysh-config
allow-reserved-ranges
!
router bgp 64512
  bgp allow-martian-nexthop
  bgp router-id {{ hostvars[inventory_hostname]['ansible_zt0']['ipv4']['address'] }}
  neighbor 127.0.0.1 remote-as 64512
  neighbor 127.0.0.1 route-map set-nexthop in
  neighbor 127.0.0.1 soft-reconfiguration inbound
!
router ospf
  ospf router-id {{ hostvars[inventory_hostname]['ansible_zt0']['ipv4']['address'] }}
  network {{ (ansible_zt0.ipv4.address + '/' + ansible_zt0.ipv4.netmask) | ansible.utils.ipaddr('network/prefix') }} area 0.0.0.0
  area 0.0.0.0 route-map ALLOWED
  redistribute bgp
!
access-list ALLOWED permit 10.30.0.0/16
access-list all permit any
!
route-map ALLOWED permit 10
  match ip address ALLOWED
!
route-map set-nexthop permit 10
  match ip address all
  set ip next-hop {{ hostvars[inventory_hostname]['ansible_zt0']['ipv4']['address'] }}
!
line vty
!