frr defaults datacenter
log syslog informational
service integrated-vtysh-config
ip route {{ lb_network }} cilium_host
!
router ospf
  ospf router-id {{ hostvars[inventory_hostname]['ansible_zt0']['ipv4']['address'] }}
  network {{ (ansible_zt0.ipv4.address + '/' + ansible_zt0.ipv4.netmask) | ansible.utils.ipaddr('network/prefix') }} area 0.0.0.0
  area 0.0.0.0 route-map ALLOWED
  redistribute static
!
access-list ALLOWED permit 10.30.0.0/16
!
route-map ALLOWED permit 10
  match ip address ALLOWED
!
line vty
!