---
apiVersion: piraeus.io/v1
kind: LinstorCluster
metadata:
  name: linstor-cluster
  namespace: storage
spec:
  affinityController:
    enabled: true
    replicas: 3
  apiTLS:
    certManager:
      name: linstor-api-ca
      kind: Issuer
  csiController:
    enabled: true
    replicas: 3
  highAvailabilityController:
    enabled: true
  internalTLS:
    certManager:
      name: linstor-internal-ca
      kind: Issuer
  properties:
    - name: DrbdOptions/Net/protocol
      value: B
    - name: DrbdOptions/Net/tls
      value: "yes"
    - name: DrbdOptions/Net/max-buffers
      value: "36864"
