---
apiVersion: piraeus.io/v1
kind: LinstorSatelliteConfiguration
metadata:
  name: linstor-satellite-configuration
  namespace: piraeus-datastore
spec:
  internalTLS:
    tlsHandshakeDaemon: true
    certManager:
      name: linstor-internal-ca
      kind: Issuer
  podTemplate:
    spec:
      initContainers:
        - name: drbd-shutdown-guard
          $patch: delete
        - name: drbd-module-loader
          $patch: delete
      volumes:
        - name: run-systemd-system
          $patch: delete
        - name: run-drbd-shutdown-guard
          $patch: delete
        - name: systemd-bus-socket
          $patch: delete
        - name: lib-modules
          $patch: delete
        - name: usr-src
          $patch: delete
        - name: etc-lvm-backup
          hostPath:
            path: /var/etc/lvm/backup
            type: DirectoryOrCreate
        - name: etc-lvm-archive
          hostPath:
            path: /var/etc/lvm/archive
            type: DirectoryOrCreate
---
apiVersion: piraeus.io/v1
kind: LinstorSatelliteConfiguration
metadata:
  name: linstor-satellite-configuration-flash
  namespace: piraeus-datastore
spec:
  nodeAffinity:
    nodeSelectorTerms:
      - matchExpressions:
          - key: node-role.kubernetes.io/control-plane
            operator: Exists
  storagePools:
    - name: vg1-thin
      lvmThinPool:
        volumeGroup: vg1
        thinPool: thin
      source:
        hostDevices:
          - /dev/disk/by-id/dm-name-luks2-r-piraeus-data-1
---
apiVersion: piraeus.io/v1
kind: LinstorSatelliteConfiguration
metadata:
  name: linstor-satellite-configuration-rust
  namespace: piraeus-datastore
spec:
  nodeAffinity:
    nodeSelectorTerms:
      - matchExpressions:
          - key: node-role.kubernetes.io/control-plane
            operator: DoesNotExist
  storagePools:
    - name: vg2-thin
      lvmThinPool: {}
      source:
        hostDevices:
          - /dev/disk/by-id/dm-name-luks2-r-piraeus-rust-1
          - /dev/disk/by-id/dm-name-luks2-r-piraeus-rust-2
          - /dev/disk/by-id/dm-name-luks2-r-piraeus-rust-3
          - /dev/disk/by-id/dm-name-luks2-r-piraeus-rust-4
