---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: spegel
  namespace: spegel
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: spegel
    namespace: spegel
  values:
    spegel:
      containerdRegistryConfigPath: /etc/cri/conf.d/hosts
    namespaceOverride: spegel
