sources:
  syslog:
    type: file
    include:
      - /var/log/syslog
      - /var/log/frr/frr.log
  host_metrics:
    type: host_metrics
sinks:
  logs:
    type: http
    inputs:
      - syslog
    uri: https://api.openobserve.ai/api/theophilus_organization_3270_OdMjjaUJw5nt7C9/default/_json
    method: post
    auth:
      strategy: basic
      user: {{ observe_user }}
      password: {{ observe_pass }}
    compression: gzip
    encoding:
      codec: json
      timestamp_format: rfc3339
    healthcheck:
      enabled: false
  metrics:
    type: prometheus_remote_write
    inputs:
      - host_metrics
    endpoint: https://api.openobserve.ai/api/theophilus_organization_3270_OdMjjaUJw5nt7C9/prometheus/api/v1/write
    auth:
      strategy: basic
      user: {{ observe_user }}
      password: {{ observe_pass }}
    healthcheck:
      enabled: false