---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: dex
  namespace: security-system
spec:
  chart:
    spec:
      chart: dex
      version: 0.24.0
      sourceRef:
        kind: HelmRepository
        name: dex
  interval: 1h
  values:
    replicaCount: 3
    networkPolicy:
      enabled: true
    config:
      issuer: http://my-issuer-url.com
      storage:
        type: memory
      enablePasswordDB: true
