home-k8s-talos-control-1.home.paradisenetworkz.com.yaml
home-k8s-talos-control-2.home.paradisenetworkz.com.yaml
home-k8s-talos-control-3.home.paradisenetworkz.com.yaml
talosconfig
home-k8s-talos-worker-1.home.paradisenetworkz.com.yaml
