talosconfig
secrets.yaml
talos-control-1.home.paradisenetworkz.com.yaml
talos-control-2.home.paradisenetworkz.com.yaml
talos-control-3.home.paradisenetworkz.com.yaml
talos-worker-1.home.paradisenetworkz.com.yaml
