- name: Gen-Config | Retrieve schematic id
  ansible.builtin.uri:
    url: https://factory.talos.dev/schematics
    method: POST
    body: "{{ lookup('ansible.builtin.file', 'talos/' + cluster_name + '/schematic.yaml') }}"
    body_format: raw
    status_code: 201
  register: schematic

- name: Gen-Config | Generate .gitignore
  ansible.builtin.template:
    src: .gitignore.j2
    dest: "talos/{{ cluster_name }}/clusterconfig/.gitignore"
    mode: '0600'

- name: Gen-Config | Decrypt secrets bundle
  ansible.builtin.set_fact:
    secrets: "{{ lookup('community.sops.sops', 'talos/' + cluster_name + '/secrets.sops.yaml') }}"

- name: Gen-Config | Generate machine config
  changed_when: false
  loop: "{{ nodes }}"
  args:
    executable: /bin/bash
  ansible.builtin.shell: |
    talosctl gen config --force {{ cluster_name }} {{ endpoint }} --talos-version {{ talos_version }} \
      --install-image factory.talos.dev/metal-installer-secureboot/{{ schematic.json.id }} \
      --with-secrets <(echo '{{ secrets }}') --config-patch @talos/{{ cluster_name }}/all.yaml --output-types {{ item.type }} \
      --config-patch @talos/{{ cluster_name }}/nodes/{{ item.hostname }}.yaml --output talos/{{ cluster_name }}/clusterconfig/{{ item.hostname }}.yaml

- name: Gen-Config | Generate talosconfig
  changed_when: false
  args:
    executable: /bin/bash
  ansible.builtin.shell: |
    talosctl gen config --force {{ cluster_name }} {{ endpoint }} --with-secrets <(echo '{{ secrets }}') \
      --output talos/{{ cluster_name }}/clusterconfig/talosconfig --output-types talosconfig

- name: Gen-Config | Set talosconfig endpoints
  changed_when: false
  ansible.builtin.command: |
    talosctl config endpoint {{ nodes | selectattr('type', 'equalto', 'controlplane') | map(attribute='ip_address') | list | join(' ') }}
      --context {{ cluster_name }} --talosconfig=talos/{{ cluster_name }}/clusterconfig/talosconfig

- name: Gen-Config | Set talosconfig nodes
  changed_when: false
  failed_when: false
  ansible.builtin.command: |
    talosctl config node {{ nodes | map(attribute='ip_address') | list | join(' ') }}
      --context {{ cluster_name }} --talosconfig=talos/{{ cluster_name }}/clusterconfig/talosconfig
