---
clusterName: home-k8s
endpoint: https://10.20.0.200:6443
talosVersion: v1.12.0
allowSchedulingOnControlPlanes: true
clusterPodNets:
  - 10.30.0.0/16
clusterSvcNets:
  - 10.96.0.0/12
cniConfig:
  name: none
additionalApiServerCertSans:
  - kube-api.home.paradisenetworkz.com
controlPlane:
  schematic:
    customization:
      extraKernelArgs:
        - -talos.halt_if_installed
      systemExtensions:
        officialExtensions:
          - siderolabs/drbd
          - siderolabs/zfs
          - siderolabs/i915
          - siderolabs/intel-ucode
          - siderolabs/mei
          - siderolabs/xe
  machineSpec:
    secureboot: true
    useUKI: true
    mode: metal
    arch: amd64
worker:
  schematic:
    customization:
      extraKernelArgs:
        - -talos.halt_if_installed
      systemExtensions:
        officialExtensions:
          - siderolabs/drbd
          - siderolabs/zfs
          - siderolabs/i915
          - siderolabs/intel-ucode
          - siderolabs/mei
          - siderolabs/xe
  machineSpec:
    secureboot: true
    useUKI: false
    mode: metal
    arch: amd64
patches:
  - |-
    machine:
      features:
        hostDNS:
          enabled: true
          forwardKubeDNSToHost: false
      files:
        - path: /etc/cri/conf.d/20-customization.part
          op: create
          content: |
            [plugins."io.containerd.cri.v1.images"]
              discard_unpacked_layers = false
      kernel:
        modules:
          - name: drbd
            parameters:
              - usermode_helper=disabled
          - name: drbd_transport_tcp
          - name: dm-thin-pool
          - name: zfs
nodes:
  - hostname: talos-control-1.home.paradisenetworkz.com
    ipAddress: 10.20.0.12
    controlPlane: true
    installDisk: /dev/disk/by-id/nvme-nvme.c0a9-323331334536433137344536-4354353030503353534438-00000001
  - hostname: talos-control-2.home.paradisenetworkz.com
    ipAddress: 10.20.0.30
    controlPlane: true
    installDisk: /dev/disk/by-id/nvme-nvme.1d79-47363933393432363834-5453313238474d544531313053-00000001
  - hostname: talos-control-3.home.paradisenetworkz.com
    ipAddress: 10.20.0.15
    controlPlane: true
    installDisk: /dev/disk/by-id/nvme-eui.ace42e8170470927
  - hostname: talos-worker-1.home.paradisenetworkz.com
    ipAddress: 10.20.0.42
    controlPlane: false
    installDisk: /dev/disk/by-id/nvme-eui.ace42e8170470a42
