---
clusterName: home-k8s
endpoint: https://10.20.0.200:6443
talosVersion: v1.12.0
controlPlane:
  schematic:
    customization:
      systemExtensions:
        officialExtensions:
          - siderolabs/drbd
          - siderolabs/i915
          - siderolabs/intel-ucode
          - siderolabs/mei
          - siderolabs/xe
  machineSpec:
    secureboot: true
    useUKI: true
    mode: metal
    arch: amd64
worker:
  schematic:
    customization:
      systemExtensions:
        officialExtensions:
          - siderolabs/drbd
          - siderolabs/i915
          - siderolabs/intel-ucode
          - siderolabs/mei
          - siderolabs/xe
  machineSpec:
    secureboot: true
    useUKI: false
    mode: metal
    arch: amd64
nodes:
  - hostname: talos-control-1.home.paradisenetworkz.com
    ipAddress: 10.20.0.12
    controlPlane: true
    installDisk: /dev/disk/by-id/nvme-nvme.c0a9-323331334536433137344536-4354353030503353534438-00000001
  - hostname: talos-control-2.home.paradisenetworkz.com
    ipAddress: 10.20.0.30
    controlPlane: true
    installDisk: /dev/disk/by-id/nvme-nvme.1d79-47363933393432363834-5453313238474d544531313053-00000001
  - hostname: talos-control-3.home.paradisenetworkz.com
    ipAddress: 10.20.0.15
    controlPlane: true
    installDisk: /dev/disk/by-id/nvme-eui.ace42e8170470927
  - hostname: talos-worker-1.home.paradisenetworkz.com
    ipAddress: 10.20.0.42
    controlPlane: false
    installDisk: /dev/disk/by-id/nvme-eui.ace42e8170470a42
