---
clusterName: home-prod
endpoint: https://10.20.100.200:6443
talosVersion: v1.12.0
allowSchedulingOnControlPlanes: true
clusterPodNets:
  - 10.30.0.0/16
clusterSvcNets:
  - 10.96.0.0/12
cniConfig:
  name: none
additionalApiServerCertSans:
  - home-cluster.paradisenetworkz.com
controlPlane:
  talosImageURL: factory.talos.dev/metal-installer-secureboot/59762d6112a8f357442daf12c730f242217af688e5ea2c667d8c7013faffead7
patches:
  - |-
    machine:
      features:
        hostDNS:
          enabled: true
          forwardKubeDNSToHost: false
      systemDiskEncryption:
        ephemeral:
          provider: luks2
          keys:
            - tpm: {}
              slot: 0
        state:
          provider: luks2
          keys:
            - tpm: {}
              slot: 0
      files:
        - path: /etc/cri/conf.d/20-customization.part
          op: create
          content: |
            [plugins."io.containerd.cri.v1.images"]
              discard_unpacked_layers = false
      sysctls:
        net.ipv4.ip_forward: 1
nodes:
  - hostname: talos-control-home-1
    ipAddress: 10.20.30.2
    controlPlane: true
    installDisk: /dev/nvme0n1
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: "6c:4b:90:21:be:a5"
        addresses:
          - 10.20.30.2/24
        routes:
          - network: 0.0.0.0/0
            gateway: 10.20.30.1
      - deviceSelector:
          hardwareAddr: "b4:96:91:70:63:3c"
        addresses:
          - 10.20.40.2/24
      - interface: dummy0
        dummy: true
        addresses:
          - 10.20.100.2/32
      - interface: dummy1
        dummy: true
        addresses:
          - 10.20.100.200/32
    patches:
      - |-
        machine:
          kubelet:
            nodeIP:
              validSubnets:
                - 10.20.100.2/32
  - hostname: talos-control-home-2
    ipAddress: 10.20.30.3
    controlPlane: true
    installDisk: /dev/nvme0n1
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: "6c:4b:90:55:3e:7d"
        addresses:
          - 10.20.30.3/24
        routes:
          - network: 0.0.0.0/0
            gateway: 10.20.30.1
      - deviceSelector:
          hardwareAddr: "b4:96:91:73:53:78"
        addresses:
          - 10.20.40.3/24
      - interface: dummy0
        dummy: true
        addresses:
          - 10.20.100.3/32
      - interface: dummy1
        dummy: true
        addresses:
          - 10.20.100.200/32
    patches:
      - |-
        machine:
          kubelet:
            nodeIP:
              validSubnets:
                - 10.20.100.3/32
  - hostname: talos-control-home-3
    ipAddress: 10.20.30.4
    controlPlane: true
    installDisk: /dev/nvme0n1
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: "6c:4b:90:55:3e:66"
        addresses:
          - 10.20.30.4/24
      - deviceSelector:
          hardwareAddr: "b4:96:91:70:63:b0"
        addresses:
          - 10.20.40.4/24
        routes:
          - network: 0.0.0.0/0
            gateway: 10.20.40.1
      - interface: dummy0
        dummy: true
        addresses:
          - 10.20.100.4/32
      - interface: dummy1
        dummy: true
        addresses:
          - 10.20.100.200/32
    patches:
      - |-
        machine:
          kubelet:
            nodeIP:
              validSubnets:
                - 10.20.100.4/32