---
clusterName: home-k8s
endpoint: https://10.20.100.1:6443
talosVersion: v1.12.0
allowSchedulingOnControlPlanes: true
clusterPodNets:
  - 10.30.0.0/16
clusterSvcNets:
  - 10.96.0.0/12
cniConfig:
  name: none
additionalApiServerCertSans:
  - kube-api.home.paradisenetworkz.com
controlPlane:
  schematic:
    customization:
      systemExtensions:
        officialExtensions:
          - siderolabs/i915
          - siderolabs/intel-ucode
          - siderolabs/lldpd
          - siderolabs/mei
          - siderolabs/nut-client
  machineSpec:
    secureboot: true
    useUKI: true
    mode: metal
    arch: amd64
patches:
  - |-
    machine:
      features:
        hostDNS:
          enabled: true
          forwardKubeDNSToHost: false
      systemDiskEncryption:
        ephemeral:
          provider: luks2
          keys:
            - tpm: {}
              slot: 0
        state:
          provider: luks2
          keys:
            - tpm: {}
              slot: 0
      files:
        - path: /etc/cri/conf.d/20-customization.part
          op: create
          content: |
            [plugins."io.containerd.cri.v1.images"]
              discard_unpacked_layers = false
      sysctls:
        net.ipv4.ip_forward: 1
nodes:
  - hostname: talos-control-1.home.paradisenetworkz.com
    ipAddress: 10.20.0.240
    controlPlane: true
    installDisk: /dev/nvme0n1
    networkInterfaces:
      - interface: bond0
        addresses:
          - 10.20.0.240/24
        routes:
          - network: 0.0.0.0/0
            gateway: 10.20.0.1
        bond:
          deviceSelectors:
            - hardwareAddr: "6c:4b:90:21:be:a5"
            - hardwareAddr: "b4:96:91:70:63:3c"
          mode: active-backup
      - interface: dummy0
        dummy: true
        addresses:
          - 10.20.100.1/32
  - hostname: talos-control-2.home.paradisenetworkz.com
    ipAddress: 10.20.0.241
    controlPlane: true
    installDisk: /dev/nvme0n1
    networkInterfaces:
      - interface: bond0
        addresses:
          - 10.20.0.241/24
        routes:
          - network: 0.0.0.0/0
            gateway: 10.20.0.1
        bond:
          deviceSelectors:
            - hardwareAddr: "6c:4b:90:55:3e:7d"
            - hardwareAddr: "b4:96:91:73:53:78"
          mode: active-backup
      - interface: dummy0
        dummy: true
        addresses:
          - 10.20.100.1/32
  - hostname: talos-control-3.home.paradisenetworkz.com
    ipAddress: 10.20.0.242
    controlPlane: true
    installDisk: /dev/nvme0n1
    networkInterfaces:
      - interface: bond0
        addresses:
          - 10.20.0.242/24
        routes:
          - network: 0.0.0.0/0
            gateway: 10.20.0.1
        bond:
          deviceSelectors:
            - hardwareAddr: "6c:4b:90:55:3e:66"
            - hardwareAddr: "b4:96:91:70:63:b0"
          mode: active-backup
      - interface: dummy0
        dummy: true
        addresses:
          - 10.20.100.1/32
