---
- name: Talos Generate Configs
  become: false
  hosts: localhost
  tags:
    - bootstrap
    - apply-config
  tasks:
    - name: Gen-Config | Retrieve schematic id
      ansible.builtin.uri:
        url: https://factory.talos.dev/schematics
        method: POST
        body: "{{ schematic | to_yaml }}"
        body_format: raw
        status_code: 201
      register: schematic

    - name: Gen-Config | Generate .gitignore
      ansible.builtin.lineinfile:
        path: "{{ cluster_name }}/clusterconfig/.gitignore"
        line: "{{ item }}"
        create: true
        mode: '0600'
      loop: "{{ list | flatten(1) }}"
      vars:
        list:
          - talosconfig
          - "{{ nodes | map(attribute='hostname') | map('regex_replace', '$', '.yaml') | list }}"

    - name: Gen-Config | Decrypt secrets bundle
      ansible.builtin.set_fact:
        secrets: "{{ lookup('community.sops.sops', cluster_name + '/secrets.sops.yaml') }}"

    - name: Gen-Config | Generate machine config
      changed_when: false
      loop: "{{ nodes }}"
      args:
        executable: /bin/bash
      ansible.builtin.shell: |
        talosctl gen config --force {{ cluster_name }} {{ endpoint }} --talos-version {{ talos_version }} \
          --install-image factory.talos.dev/metal-installer-secureboot/{{ schematic.json.id }} \
          --with-secrets <(echo '{{ secrets }}') --config-patch @{{ cluster_name }}/all.yaml --output-types {{ item.type }} \
          --config-patch @{{ cluster_name }}/nodes/{{ item.hostname }}.yaml --output {{ cluster_name }}/clusterconfig/{{ item.hostname }}.yaml

    - name: Gen-Config | Generate talosconfig
      changed_when: false
      args:
        executable: /bin/bash
      ansible.builtin.shell: |
        talosctl gen config --force {{ cluster_name }} {{ endpoint }} --with-secrets <(echo '{{ secrets }}') \
          --output {{ cluster_name }}/clusterconfig/talosconfig --output-types talosconfig

    - name: Apply-Config | Set talosconfig endpoints
      changed_when: false
      ansible.builtin.command: |
        talosctl config endpoint {{ nodes | selectattr('type', 'equalto', 'controlplane') | map(attribute='ip_address') | list | join(' ') }}
          --context {{ cluster_name }} --talosconfig={{ cluster_name }}/clusterconfig/talosconfig

    - name: Apply-Config | Set talosconfig nodes
      changed_when: false
      failed_when: false
      ansible.builtin.command: |
        talosctl config node {{ nodes | map(attribute='ip_address') | list | join(' ') }}
          --context {{ cluster_name }} --talosconfig={{ cluster_name }}/clusterconfig/talosconfig

- name: Talos Cluster Bootstrap
  become: false
  hosts: localhost
  tags:
    - bootstrap
  vars_files:
    - vars.yaml
  tasks:
    - name: Bootstrap | Apply cluster configs (insecure)
      register: apply
      ansible.builtin.command: |
        talosctl apply-config -i -n {{ item.ip_address }} -f {{ cluster_name }}/clusterconfig/{{ item.hostname }}.yaml
      changed_when:
        - apply.rc == 0
      failed_when:
        - apply.rc == 1
        - apply.stderr_lines[0] | regex_search("certificate required") is none
      loop: "{{ nodes }}"

    - name: Bootstrap | Bootstrap talos controlplane
      until: bootstrap is success
      delay: 30
      retries: 30
      register: bootstrap
      ansible.builtin.command: talosctl bootstrap --talosconfig={{ cluster_name }}/clusterconfig/talosconfig --nodes={{ nodes.0.ip_address }}
      changed_when:
        - bootstrap.rc == 0
        - bootstrap.stderr_lines[1] | regex_search("AlreadyExists") is none
      failed_when:
        - bootstrap.rc == 1
        - bootstrap.stderr_lines[1] | regex_search("AlreadyExists") is none

    - name: Bootstrap | Get kubeconfig
      ansible.builtin.command: talosctl kubeconfig --force --talosconfig={{ cluster_name }}/clusterconfig/talosconfig --nodes={{ nodes.0.ip_address }}
      changed_when: false

- name: Talos Apply Configs
  become: false
  hosts: localhost
  tags:
    - apply-config
  vars_files:
    - vars.yaml
  tasks:
    - name: Apply-Config | Apply cluster configs
      ansible.builtin.command: |
        talosctl apply-config --talosconfig={{ cluster_name }}/clusterconfig/talosconfig -n {{ item.ip_address }}
          -f {{ cluster_name }}/clusterconfig/{{ item.hostname }}.yaml
      changed_when: false
      loop: "{{ nodes }}"
