---
- name: Apply-Helm
  become: false
  hosts: localhost
  tags:
    - helm
    - bootstrap
  tasks:
    - name: Apply-Helm | Apply helm charts
      kubernetes.core.helm:
        name: "{{ item.name }}"
        release_namespace: "{{ item.namespace }}"
        chart_ref: "{{ lookup('file', 'apps/' + item.namespace + '/' + item.name + '/app/ocirepository.yaml') | from_yaml | json_query('spec.url') }}"
        chart_version: "{{ lookup('file', 'apps/' + item.namespace + '/' + item.name + '/app/ocirepository.yaml') | from_yaml | json_query('spec.ref.tag') }}"
        values: "{{ lookup('file', 'apps/' + item.namespace + '/' + item.name + '/app/helmrelease.yaml') | from_yaml | json_query('spec.values') }}"
        create_namespace: true
        wait: true
      loop:
        - name: cilium
          namespace: kube-system
        - name: spegel
          namespace: kube-system
        - name: cert-manager
          namespace: security
        - name: piraeus-operator
          namespace: storage
        - name: flux-operator
          namespace: flux-system

- name: Apply-Flux
  become: false
  hosts: localhost
  tags:
    - flux
    - bootstrap
  tasks:
    - name: Apply-Flux | Apply seed repo
      kubernetes.core.k8s:
        state: present
        wait: true
        definition: "{{ lookup('file', 'flux.yaml') | from_yaml }}"
