---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: snapshot-controller
  namespace: storage-system
spec:
  chartRef:
    kind: OCIRepository
    name: snapshot-controller
  interval: 1h
  values:
    controller:
      replicaCount: 3
      serviceMonitor:
        create: false
    webhook:
      replicaCount: 3

