{
  "id": "{{ item.machine_config.machine.network.hostname }}",
  "name": "{{ item.machine_config.machine.network.hostname }}",
  "profile": "{{ item.machine_config.machine.network.hostname }}",
  "selector": {
    "mac": "{{ item.mac_address }}"
  }
}