{
  "id": "{{ item.hostname }}",
  "name": "{{ item.hostname }}",
  "boot": {
    "kernel": "/assets/vmlinuz",
    "initrd": ["/assets/initramfs.xz"],
    "args": [
      "initrd=initramfs.xz",
      "init_on_alloc=1",
      "slab_nomerge",
      "pti=on",
      "console=tty0",
      "printk.devkmsg=on",
      "talos.platform=metal",
      "talos.config=http://{{ ansible_default_ipv4.address }}:8080/assets/{{ item.hostname }}.yaml"
    ]
  }
}