---
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: flux-operator
  namespace: flux-system
spec:
  interval: 15m
  ref:
    tag: 0.38.1
  url: oci://ghcr.io/controlplaneio-fluxcd/charts/flux-operator
