---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cert-manager-helm
  namespace: network-system
spec:
  interval: 1h
  path: ./kubernetes/home-k8s/apps/network-system/cert-manager/helm
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  wait: true
