---
apiVersion: source.toolkit.fluxcd.io/v1beta2
kind: HelmRepository
metadata:
  name: fluent
  namespace: fluentbit
spec:
  interval: 10m
  url: https://fluent.github.io/helm-charts
---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: fluentbit
  namespace: fluentbit
spec:
  interval: 1h
  chart:
    spec:
      chart: fluent-bit
      version: "0.54.0"
      sourceRef:
        kind: HelmRepository
        name: fluent
        namespace: fluentbit
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    dashboards:
      enabled: true
    serviceMonitor:
      enabled: true
