---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: spegel-helm
  namespace: kube-system
spec:
  interval: 1h
  path: ./kubernetes/home-k8s/apps/kube-system/spegel/helm
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  wait: false
