#cloud-config
autoinstall:
  version: 1
  refresh-installer:
    update: yes

  storage:
    swap:
      size: 0
    config:
      - { type: disk, id: boot-disk, ptable: gpt, grub_device: false, match: { ssd: yes, size: smallest }}

      - { type: partition, id: efi-partition, device: boot-disk, wipe: superblock, grub_device: true, flag: boot, number: 1, size: 512M }
      - { type: format, id: efi, volume: efi-partition, fstype: fat32 }
      - { type: mount, id: efi-mount, device: efi, path: /boot/efi }

      - { type: partition, id: root-partition, device: boot-disk, wipe: superblock, number: 2, size: -1 }
      - { type: format, id: root, volume: root-partition, fstype: ext4 }
      - { type: mount, id: root-mount, device: root, path: / }

      - { type: disk, id: vm-disk, ptable: gpt, wipe: superblock, grub_device: false, match: { ssd: yes, size: largest }}

      - { type: partition, id: vm-root-partition, device: vm-disk, wipe: superblock, number: 1, size: -1 }
      - { type: format, id: vm-root, volume: vm-root-partition, fstype: xfs }
      - { type: mount, id: vm-root-mount, device: vm-root, path: /vm-storage }

  ssh:
    install-server: true
    allow-pw: false

  user-data:
    hostname: {{ hostname }}
    fqdn: {{ hostname }}.{{ domain }}
    manage_etc_hosts: true
    users:
      - name: ubuntu
        sudo: "ALL=(ALL) NOPASSWD: ALL"
        homedir: /home/ubuntu
        shell: /bin/bash
        lock_passwd: false
        ssh_authorized_keys:
          - sk-ssh-ed25519@openssh.com AAAAGnNrLXNzaC1lZDI1NTE5QG9wZW5zc2guY29tAAAAIDUzN48dCMAuJle64hjbDm4egnbnn2URDr8pFaJd9p1CAAAABHNzaDo= theophilusbassaw@pop-os
          - sk-ssh-ed25519@openssh.com AAAAGnNrLXNzaC1lZDI1NTE5QG9wZW5zc2guY29tAAAAILOEJPkO5nqXtsO0DrFBviMpmH8Fa90PkXxkBXg5JguYAAAABHNzaDo= theophilusbassaw@pop-os
          - sk-ssh-ed25519@openssh.com AAAAGnNrLXNzaC1lZDI1NTE5QG9wZW5zc2guY29tAAAAIDNCPg4bcEyK4zxe+4P5adRM5XhEATPDKiSULylo3AzAAAAABHNzaDo= theophilusbassaw@pop-os

      - name: ansible
        sudo: "ALL=(ALL) NOPASSWD: ALL"
        homedir: /home/ansible
        shell: /bin/bash
        lock_passwd: true
        ssh_authorized_keys:
          - ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIO/Fn6RMF7HWf2BSGKpeDzGrDHj308MAb/+AalQ83Ot7 ansible

    ssh_pwauth: false
    chpasswd:
      expire: false
      users:
        - name: ubuntu
          password: {{ user_password | default(lookup('ansible.builtin.env', 'USER_PASSWORD'))}}
          type: text

    packages_update: true
    packages_upgrade: true
    packages: 
      - qemu-kvm
      - libvirt-daemon-system
      - libvirt-clients
      - bridge-utils
      - frr
