frr defaults datacenter
log syslog informational
service integrated-vtysh-config
!
router bgp 212364
 bgp router-id {{ ansible_default_ipv4.address }}
 bgp log-neighbor-changes
 bgp graceful-restart
 neighbor mesh peer-group
 neighbor mesh remote-as 212364
 bgp listen range 10.30.0.0/24 peer-group mesh
 !
 address-family ipv4 unicast
  neighbor mesh activate
  neighbor mesh route-reflector-client
  neighbor mesh soft-reconfiguration inbound
  neighbor mesh route-map ALLOWED in
 exit-address-family
 !
 address-family l2vpn evpn
  neighbor mesh activate
  neighbor mesh route-reflector-client
  neighbor mesh soft-reconfiguration inbound
 exit-address-family
!
access-list ALLOWED deny 10.30.0.0/24
access-list ALLOWED permit 10.30.0.0/16
!
route-map ALLOWED permit 10
 match ip address ALLOWED
!
line vty
!