[route_reflectors]
%{ for route_reflector in route_reflectors ~}
${route_reflector.public_ip} ansible_ssh_common_args='-o StrictHostKeyChecking=no' router_ip=${route_reflector.zerotier_ip}
%{ endfor ~}

[control_servers]
%{ for control_server in control_servers ~}
${control_server.public_ip} ansible_ssh_common_args='-o StrictHostKeyChecking=no' router_ip=${control_server.zerotier_ip}
%{ endfor ~}