[route_reflectors]
%{ for route_reflector in route_reflectors ~}
${route_reflector.public_ip} ansible_ssh_common_args='-o StrictHostKeyChecking=no' router_ip=${route_reflector.zerotier_ip} zerotier_public_key=${route_reflector.zerotier_public_key} zerotier_private_key=${route_reflector.zerotier_private_key} zerotier_network_id=${route_reflector.zerotier_network_id}
%{ endfor ~}

[control_servers]
%{ for control_server in control_servers ~}
${control_server.public_ip} ansible_ssh_common_args='-o StrictHostKeyChecking=no' k8s_ip=${control_server.zerotier_ip} zerotier_public_key=${control_server.zerotier_public_key} zerotier_private_key=${control_server.zerotier_private_key} zerotier_network_id=${control_server.zerotier_network_id}
%{ endfor ~}